<ion-header no-shadow>
  <ion-navbar>
    <ion-title> HISTORY </ion-title>
    <ion-buttons end>
      <button ion-button clear end icon-only (click)="refresh(true)">
        <ion-icon *ngIf="!order" name="ios-arrow-round-up"></ion-icon>
      </button>
      <button ion-button clear end icon-only (click)="refresh(false)">
        <ion-icon *ngIf="order" name="ios-arrow-round-down"></ion-icon>
      </button>
      <button ion-button clear end icon-only (click)="refresh(order)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-list *ngFor="let act of acts">

    <ion-item  *ngIf="act.action_trace.act.name == 'transfer' && act.action_trace.act.data.from " (click)="openItem(act.action_trace.trx_id)">
      <ion-icon name="arrow-dropleft-circle" color="primary" *ngIf="act.action_trace.act.data.from == accountName" item-start></ion-icon>
      <ion-icon name="arrow-dropright-circle" color="secondary" *ngIf="act.action_trace.act.data.to == accountName" item-start></ion-icon>

          <h3>{{ act.action_trace.act.data.from }} -> {{ act.action_trace.act.data.to }}</h3>
          <h3><u>{{ act.action_trace.act.data.quantity }}</u></h3>
          <p>{{ act.action_trace.act.data.memo }}</p>


    </ion-item>
  </ion-list>
</ion-content>
